*{
    margin: 0px;
    padding: 0px;
}

:root{
    --background-color:yellow;
    --background-color2:green;
}
body{
    background-color: gainsboro;
}
.encabezado{
    width: 100%;
    height: 100px;
    background-color: black;
    color: aliceblue;
    text-align: center;
    font-size: 50px;
}

.izquierda{
    width: 45%;
    height: calc(100vh - 200px - 100px);
    background-color: aqua;
    display: inline-block;
}

.derecha{
    width: 54.5%;
    height: calc(100vh - 200px - 100px);
    background-color: blueviolet;
    display: inline-block;
}

.footer{
    width: 100%;
    height: 200px;
    background-color: blue;
}


.encabezado:hover{
    background-color: var(--background-color2);
    font-size: 5rem;
    transform: scale(2);
    color: black;
    margin-top: 50px;
    transition-duration: 0.3s;
}

.izquierda:hover{
    background-color: var(--background-color);
    font-size: 5rem;
    transform: rotate(-45deg);
    color: black;
    border-radius: 40%;
    transition-duration: 0.3s;
    padding-top: 50px;
    text-align: center;
}

.derecha:hover{
    background-color: greenyellow;
    font-size: 5rem;
    transform: rotate(45deg);
    color: gray;
    border-radius: 50%;
    transition-duration: 0.3s;
    padding-top: 50px;
    text-align: center;
}

footer:hover{
    background-color: aquamarine;
    font-size: 7rem;
    transform: scale(1.5);
    padding-top: 10px;
    text-align: center;
}